.modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  
  display: none;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .5)
}
.modal.active{
  display: flex;
}

.modal__window{
  position: relative;
  z-index: 1;
  
  background-color: #ff6565;
  
  width: 500px;
  height: 600px;
  
  overflow: hidden;
}
.modal__container{
  position: relative;
  display: flex;

  transition: .2s;
}

.close{
  position: absolute;
  cursor: pointer;

  height: 25px;
  width: 25px;
  z-index: 2;

  top: 15px;
  right: 15px;
}

.close::after{
  position: absolute;
  content: '';
  
  background-color: #fff;
  height: 29px;
  width: 3px;

  right: 50%;
  top: 0;

  transform: rotate(45deg);
}

.close::before{
  position: absolute;
  content: '';
  
  background-color: #fff;
  height: 29px;
  width: 3px;
  
  right: 50%;
  top: 0;
  
  transform: rotate(-45deg);
}